[Unit]
Description=Proteoviewer
After=network-online.target mnt-NAS.mount
Requires=network-online.target mnt-NAS.mount
StartLimitIntervalSec=0

[Service]
Type=simple
User=pcfuser
WorkingDirectory=/opt/Proteoviewer

Environment="PATH=/opt/miniforge3/envs/proteoviewer/bin:/opt/miniforge3/bin:/usr/bin"
Environment="QT_QPA_PLATFORM=offscreen"
Environment="PV_ENABLE_SYSTEM_DIALOG=0"
Environment="PV_UPLOAD_DIR=/mnt/DATA/proteoviewer_uploads"

ExecStart=/opt/miniforge3/envs/proteoviewer/bin/python /opt/Proteoviewer/app.py

Restart=always
RestartSec=5

Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target

