[Unit]
Description=Proteoviewer
After=network-online.target mnt-NAS.mount
Requires=network-online.target mnt-NAS.mount
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=pcfuser
# Activate conda environment and run Streamlit
ExecStart=/opt/miniforge3/envs/proteoviewer/bin/panel serve app.py \
          --address 0.0.0.0 \
          --port 5007 \
          --allow-websocket-origin="131.152.17.97:5007" \
          --allow-websocket-origin="proteoviewer.biozentrum.unibas.ch" \
          --websocket-max-message-size=4000000000 \
          --http-server-kwargs='{"max_buffer_size": 4000000000}' \
          --num-procs 8
WorkingDirectory=/home/pcfuser/Proteoviewer
Environment="PATH=/opt/miniforge3/envs/proteoviewer/bin:/opt/miniforge3/bin:/usr/bin"
Restart=always
RestartSec=5
#ExecStart=/bin/bash -c 'source /opt/miniforge3/bin/activate proteoviewer && panel serve app.py --autoreload --address 0.0.0.0 --port 5007 --allow-websocket-origin="131.152.17.97:5007" --allow-websocket-origin="proteoviewer.biozentrum.unibas.ch" --websocket-max-message-size=4000000000'
Environment="PATH=/opt/miniforge3/bin:/usr/bin:$PATH"
Environment="QT_QPA_PLATFORM=offscreen"
Environment="PV_ENABLE_SYSTEM_DIALOG=0"
Environment="PV_UPLOAD_DIR=/mnt/DATA/proteoviewer_uploads"
WorkingDirectory=/opt/Proteoviewer


[Install]
WantedBy=multi-user.target

